/****************************************
/* LAYOUT
/***************************************/
body {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    background: #e2e8f0;  
    padding: 50px;
}

/***** MAIN *****/
.library {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 25px;
}
.books {
    height: 150px;
    width: 100px;
    background: #ffffff;
    text-align: center;
    padding: 25px 15px;
    border-left: 6px solid goldenrod;
    border-radius: 5px;
    box-shadow: 2px 2px 2px lightgray;
}
.show-dialog {
    width: 106px;
    border-left: none;
    cursor: cell;
}
.show-dialog:hover {
    background: darkgray;
}